services:
  app:
    build: .
    ports:
      - "3028:3028"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: Secret123!   #replace with ur mysql database password
      MYSQL_DATABASE: travel_planner #replace with your  mysql daatabse 
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db-init:/docker-entrypoint-initdb.d
    restart: unless-stopped

volumes:
  db_data:
